{% set base = 'Hero' %}
<section id="{{ base }}" class="{{ base }}">
    <div class="{{ base }}__inner container">
        <h1 class="rellax">Hero</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#" class="button">Learn More</a>
    </div>
</section>