@mixin social-icons-main {
  text-align: center;
  margin: 0 .5em;
  padding: 0;
  position: relative;
  width: 2.8em;
  height: 2.8em;
  @include for-tablet__landscape--up {
    font-size: .8em;
  }

  &:before {
    content: "";
    border: .1rem solid $brand__yellow;
    border-radius: 100rem;
    width: inherit;
    height: inherit;
    transition: 400ms ease all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }


  a {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 3.2em;
    margin: 0 .5em;
  }

  svg {
    fill: $brand__gray-dark;
  }

  &:hover,
  &:focus {
    &:after {
      content: none;
    }
    &:before {
      background-color: $brand__yellow;
    }
  }
}