$fluid-type--min: 300px;
$fluid-type--max: 2100px;

html, body {
  height: 100%;
}

body {
  @include font--base;
  @include fluid-type($fluid-type--min, $fluid-type--max, 16px, 20px);
  color: $brand__dark;
  overflow-x: hidden;
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;

  &[data-scroll-enabled="false"] {
    overflow: hidden;
  }
}


#wrapper {
  position: relative;

  // Hooray for "sticky footers"
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand__dark;
  @include font--alternate;
  margin: 2.75rem 0 1rem;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

small,
.text-small {
  font-size: 0.75em;
}

p {
  margin-bottom: 1.25em;
}

a {
  color: $brand__blue;
  text-decoration: underline;

  &:focus,
  &:hover {
    color: $brand__green;

    &:after {
      color: $brand__green;
      background-color: $brand__green;
    }
  }
}

ul {
  margin-top: .5rem;
  margin-bottom: .5rem;
  list-style: none;
  padding-left: 0;
  line-height: 1.4;

  li {
    &:before {
      content: "";
      width: .8em;
      height: 2px;
      position: absolute;
      left: 0;
      margin-top: .75em;
    }
  }
}

ol {

}

li {
  position: relative;
  padding-left: 1.5em;
  padding-bottom: .1em;
  line-height: 1em;
}

blockquote {

}

hr {

}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


table, th, td {
  border: 1px solid $brand__dark;
}

th, td {
  padding: .25em .5em;
}

table {
  border-collapse: collapse;

  caption {
    text-align: left;
    line-height: 2em;
  }
}

th {
  text-align: left;
}

td {
  height: 1em;
  vertical-align: bottom;
}

select,
input:not([type="submit"]),
textarea {
  padding: .5em;
  border-radius: .1em;
  box-shadow: none;
  border: 2px solid $brand__gray;
  outline: $brand__gray--dark;

  &::placeholder {
    color: $brand__gray;
  }
}

input:focus {
  outline: none;
  border: 2px solid $brand__gray;
  box-shadow: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  // TODO: handle states (e.g. disabled, etc.)
  @include button__primary;
}


textarea:focus {
  outline: none;
  border-color: $brand__gray;
  box-shadow: 0 0 1px $brand__gray;
}

label {
}

select {
  -webkit-appearance: none;
  color: $brand__dark;
}

iframe {
  max-width: 100%;
}

::selection {
  color: white;
  background-color: $brand__gray;
}

.container {
  max-width: $width--container;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

.width {
  margin-left: auto;
  margin-right: auto;

  &--full {
    width: $width--full;
  }

  &--wide {
    max-width: $width--wide;
  }

  &--normal {
    max-width: $width--normal;
  }
}

// Avoid Using .hide if possible
.hide {
  &--desktop {
    @include for-tablet__landscape--up-to {
      display: none;
    }
  }

  &--mobile {
    @include for-tablet__landscape--up {
      display: none;
    }
  }
}

.icon {
  height: auto;
  position: relative;
  display: inline-block;
  user-select: none;
  width: 2rem;
  height: 2rem;

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}


.dark {
  color: $brand__light;

  a {
    color: $brand__light;
  }
}